
body {
  margin: 0;
  padding: 0px;
  font-family: 'Droid', serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.go-top {
    position: fixed;
    bottom: 0.75em;
    right: 0.5em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 24px;
    padding: 10px;
    display: none;
    margin: 0;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
}

.notBoldItalic{
    font-weight: normal;
    font-style: italic;
}​

.notBold{
    font-weight: normal;
    font-style: normal;
}​


.workExperienceList ul{
	list-style-type: disk;
	font-weight: normal;
}

.banner {
	width: auto;
	height: 135px;
	background-size: 100%;
    background-image: linear-gradient(45deg, rgb(30, 63, 100), rgb(162, 215, 216));
    padding-top: 24px;
}

.logo {
	text-decoration: none;
    text-align: center;
    font-size: 38px;
    font-weight: normal;
    font-variant: small-caps;
    font-style: normal;
    display: block;
}

.logo a:link {
	color: black;
	text-decoration: none;
}
.logo a:visited {
  	color:black;
}

.logo h1 {
    margin-top: 3px;
    margin-bottom: 10px;
}

nav {
	background: #1E1E29;
  	border-bottom: 4px solid #fed136;
  	margin: 0 auto;
  	max-width: 1040px;
  	height: 31px;
}

nav ul {
	margin: 0;
	padding: 2.5px;
	list-style-type: none;
	text-align: center;
}

nav ul li {
	list-style: none;
	display: inline;
}

nav ul li a {
	text-decoration: none;
	padding: .32em 1em;
	color: #e8e8e8;
	border-bottom: 4px solid #fed136;
	font-size: 20px;
}

nav ul li a:hover {
	color: #fed136;
	border-bottom: 4px solid rgba(255, 0, 0, 0.8);
}

#about {
	text-align: center;
}


.sectionHead {

	font-size: 28px;
    margin-bottom: 10px;
    display: inline-block;
    width: 1040px;
    height: 40px;
    text-align: left;
    text-decoration: underline;
}


.aboutBody {
	font-size: 20px;
	margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
    width: 1040px;
    text-align: left;
    padding-left: 100px;
}



.row {
	margin-top: 10px;
  	display: inline-block;
  	height: 390px;
  	width: 1220px;
  	background: #f2f2f2;
  	box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

.leftRowBody p{
	display: inline;
	float: right;
	margin: 0;
	font-size: 18px;
}

.rightRowBody p{
	display: inline;
	float: left;
	margin: 0;
	font-size: 18px;
}

.rightRowBody a {
  font-size: 18px;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  float: left;
}

.rightRowBody a:link {
  color: #000;
}

.rightRowBody a:hover {
  color: #556565;
}

.rightRowBody a:visited {
  color: #000;
}


.column-portrait-left{
	margin-top: 65px;
	position: relative;
	float: left;
	height: 325px;
	width: 365px;
}

.column-portrait-left h2{
	text-align: right;
	margin-bottom: 10px;
}

.column-portrait-right h2{
	text-align: left;
	margin-bottom: 10px;
}


.column-portrait-right{
	margin-top: 65px;
	position: relative;
	float: right;
	height: 325px;
	width: 365px;

}

.portrait{
	position: relative;
	text-align: center;
	vertical-align: center;
    margin-top: 30px;
	height: 330px;
	width: 420px;
}

.square {

	box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

#workExperience {
	text-align: center;
	margin-top: 110px;
	background: #d1dbbd;
}

#workExperience a {
  color: #0D4F8B;
  text-align: center;
}

#workExperience a:link {
  color: #0D4F8B;
}

#workExperience a:visited {
  color: #0D4F8B;
}

.jobHeader{
	display: inline-block;
	margin-top: 50px;
	height: 55px;
	width: 1040px;
	text-align: left;
	font-weight: bold;
}

.jobHeader h1{
	padding-left: 145px;
	font-size: 24px;
}

.jobHeader img{
	position: absolute;
	padding-top: 10px;
}

.jobBody {
	display: inline-block;
	margin-top: -10px;
	font-size: 19px;
	height: 55px;
	width: 1040px;
	padding-left: 295px;
	text-align: left;
}

#projects {
	text-align: center;
	background: #91aa9d;
}

#projects a {
  color: #0D4F8B;
  text-align: center;
}

#projects a:link {
  color: #0D4F8B;
}

#projects a:visited {
  color: #0D4F8B;
}

#resume {
	text-align: center;
	background: #3e606f;
}


#resume i {
	color: #ff0000;
}

.sectionSeparator {
	padding-bottom: 64px;
}

#contact{
	text-align: center;
	background: #193441;
}

#contact img{
	height: 100px;
	width: 95px;
	padding-left: 5px;
}

#footer {
	background: #1E1E29;
	border-top: 4px solid #fed136;
	padding: 20px, 0;
	text-align: center;
	padding-bottom: 5px;
}

#footer p {
  color: #e8e8e8;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

#footer a {
  color: #a2d7d8;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

#footer a:link {
  color: #a2d7d8;
}

#footer a:visited {
  color: #a2d7d8;
}
